.env
venv/
__pycache__/
.envrc
.idea
/google2/token.json
/google2/token.json.dist
/token.pickle
/requirements.txt
/client_secret_573107433733-cr8pq51ig2f9n3i6aueevvj0tp9kskbb.apps.googleusercontent.com.json
/google2/credentials.json.dist
